<p-sidebar [(visible)]="display" position="right">
    Content
</p-sidebar>

<app-menu-toolbar></app-menu-toolbar>
 <div>
     <div class="container">
    <app-dashboard-card></app-dashboard-card>
    </div>
    
        <div class="p-col-12 p-md-12">
          <div class="container-fluid">
            <p-carousel [value]="products" [numVisible]="5" [numScroll]="100" [circular]="true" [autoplayInterval]="4000"  [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="product-item-content">
                            <div class="p-mb-3">
                            </div>
                            <div>
                                <h4 class="p-mb-1">{{product.name}}</h4>
                                <h6 class="p-mt-0 p-mb-3">Stream Rate: ${{product.price}}</h6>
                                <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()" style="color:red">views: &nbsp;{{ product.inventoryStatus}}</span>
                                <div class="car-buttons p-mt-5">
                                    <br>
                                    <a  class="btn btn-pills btn-warning" (click)="display = true"> Book </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
            
            </div>
        </div>
     <br>
 </div>
 <div class="container-fluid">
     <h1>Channels</h1>
 <p-tabView>
    <p-tabPanel header="All Users">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Relgion">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Music">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Sports">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Beauty">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Brands">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Epreneur">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td><button class="btn"  [ngClass]="{'btn-success':product.orderStatus === 'Open', 'btn-danger':product.orderStatus === 'Sold Out'}" (click)="display = true">{{product.orderStatus}}</button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td><p-button type="button" icon="pi pi-search"></p-button></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
</div>


<br>
<br>
<br>
<br>