<p-dialog header="Title" [(visible)]="userSubscription" [style]="{width: '50vw'}">
    Content
</p-dialog>
<p-sidebar [(visible)]="display" position="right">
   
    <div *ngFor="let p of shoppingCart">
  {{p.name}}
  {{p.price}}
    </div>

</p-sidebar>
<app-menu-toolbar></app-menu-toolbar>
     <div class="container">
    <app-dashboard-card></app-dashboard-card>
    </div>
 <div class="container">
     <h1>Book Ads Now</h1>
     
 <p-tabView>
    <p-tabPanel header="All">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th pSortableColumn="inventoryStatus"> Monthly Views <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    <th pSortableColumn="orderStatus"> Order Status <p-sortIcon field="orderStatus"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img src="assets/images/guy1.jpeg" style="width:50px"/></td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
                    <td>
                        <button class="btn"[ngClass]="{'btn-success': product.orderStatus === 'Book', 'btn-danger':product.orderStatus === 'Sold Out'}" 
                         (mouseover)="status.toggle($event)" (mouseout)="status.toggle($event)" (click)="addToCart(product)" [disabled]="product.orderStatus === 'Sold Out'">
                            {{product.orderStatus}}</button>
                            <p-overlayPanel #status>
                                <ng-template pTemplate>
                                  {{product.orderStatus === 'Sold Out' ? 'Sorry sold out' : 'open slots available'}}
                                </ng-template>
                              </p-overlayPanel>
                        </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                        <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-order>
                                    <tr>
                                        <td>{{order.id}}</td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.date}}</td>
                                        <td>{{order.amount | currency:'USD'}}</td>
                                        <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
</div>
<br>
<br>
<br>
<br>