<div class="container">
    <div class="box">
      <div class="card-header">
          <p class="tag">Pro</p>
        <div class="img">
          <div class="inner-img">
            <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="" class="img-profile">
          </div>
        </div>
        <div class="desc">
          <h3>John Doe</h3>
          <h5>United Kingdom</h5>
          <p>Front end web developer and UI/UX Designer</p>
        </div>
        
        <div class="buttons">
          <a href="#" class="btn btn-primary">Message</a>
          <a href="#" class="btn btn-bordered">Following</a>
        </div>
      </div>
      
      <div class="card-footer">
        <h5>Skills</h5>
        <a href="#" class="tags">UI/UX</a>
        <a href="#" class="tags">Front End Development</a>
        <a href="#" class="tags">HTML</a>
        <a href="#" class="tags">CSS</a>
        <a href="#" class="tags">Javascript</a>
        <a href="#" class="tags">React</a>
        <a href="#" class="tags">Node</a>
      </div>
    </div>
  </div>