*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.navbar {
  background-color: #333;
  @include clearfix;
}

.nav-menu {
  list-style: none;
  float: right;
  
  &__item {
    display: inline-block;
    position: relative;
  }
  
  &__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transform: scaleY(0);
    // transform-origin: top left;
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color 0.1s;
  }
  
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }
  
  &__item:active::before {
    background-color: #FF3366;
  }
  
  &__link:link,
  &__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
  }
  
}









