<nav class="navbar d-none d-xxl-block">
    <ul class="nav-menu">
      <li class="nav-menu__item nav-menu__item--active">
        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
        
      </li>
      <li class="nav-menu__item">
        <a href="javascript:void(0)" class="nav-menu__link">About</a>
        
      </li>
      <li class="nav-menu__item">
        <a href="javascript:void(0)" class="nav-menu__link">Programs</a>
        
      </li>
      <li class="nav-menu__item">
        <a href="javascript:void(0)" class="nav-menu__link">Events</a>
        
      </li>
      <li class="nav-menu__item">
        <a href="javascript:void(0)" class="nav-menu__link">Contact</a>
        
      </li>
      <li class="nav-menu__item">
        <a href="javascript:void(0)" class="nav-menu__link">Login</a>
        
      </li>
    </ul>
  </nav>