<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="p-3 bg-white rounded">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="position-relative" style="margin-right: 20px;"> <img src="https://i.imgur.com/EnANUqj.jpg" width="80" class="rounded-circle"> <span class="position-absolute dots"></span> </div>
                        <div class="ml-4">
                            <h5 class="mb-0">Lindsey James</h5> <span>@lindsyjames</span>
                            <div class="d-flex flex-row"> <span class="mr-3">1039 posts</span> <span class="mr-3">42.9 followers</span> <span>930 following</span> </div>
                        </div>
                    </div>
                    <div class="mt-2"> <span class="box-ellipse"><i class="fa fa-ellipsis-h"></i></span> <span class="box-pensil"><i class="fa fa-pencil"></i></span> </div>
                    <div> </div>
                </div>
            </div>
        </div>
    </div>
</div>