<p-dialog header="User Account" [(visible)]="accountExist" [modal]="true">
     <p style="font-weight: bold;color: #673ab7">{{errMessage}}</p>
     <app-user-profile-card></app-user-profile-card>
     <button class="btn btn-primary" style="color: #fff;
     background-color: #3f51b5;
     border-color: #3f51b5;
     min-width: 100%;
     height: 50px;" routerLink='/login'>Continue To Login</button>
</p-dialog>

<div class="back-to-home rounded d-none d-sm-block">
    <a routerlink="/index" class="btn btn-icon btn-soft-primary"></a>
</div>

<p-dialog header="Verification" [(visible)]="display" [modal]="true">
    Please check your email
</p-dialog>
<button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>
<div class="col-lg-12 col-md-12">
    <div class="card rounded border-0">
        <div class="card-body card-rwd ">
            <h1 class="card-title text-center">Join Our Online Community</h1>
            <form class="login-form mt-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Username
                                <span class="text-danger">*</span>
                            </label>
                            <div class="form-icon position-relative">
                                <input type="text" class="form-control ps-2" type="text"
                                    formControlName="userName"
                                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
                                    placeholder="email address">
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && f.userName.errors">Required Vaild Email Address</div>
                                </div>
                            </div>
                        </div>
                    </div>
             <!--        <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Phone Number
                                <span class="text-danger">*</span>
                            </label>
                            <div class="form-icon position-relative">
                                <input type="Phone Number" name="phone" class="form-control ps-2"
                                    type="text" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                                    placeholder="Phone">
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Required</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Password
                                <span class="text-danger">*</span>
                            </label>
                            <div class="form-icon position-relative">
                                <input type="password" name="password" class="form-control ps-2" type="text"
                                    formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    placeholder="password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Required Password Length 6
                                        characters</div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                    formControlName="acceptTerms"
                                    [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                </div>
                                <label class="form-check-label" for="flexCheckDefault">I Accept
                                    <a routerlink="/auth-signup" class="text-primary">Terms And
                                        Condition</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-grid">
                            <button class="btn btn-primary" style="color: #fff;
                            background-color: #3f51b5;
                            border-color: #3f51b5;
                            height: 50px;" type="submit">Signup</button>
                        </div>
                    </div>
                    <p class="mb-0 mt-3">
                        <small class="text-dark me-2">Already have an account ?</small>
                        <a routerlink="/auth-login" class="text-dark fw-bold">Sign in</a>
                    </p>
               
                     <div class="col-lg-12 mt-4 text-center">
                      <!--   <h6>Or Signup With</h6> -->
                        <div class="row">
                           <!--  <div class="col-6 mt-3">
                                <div class="d-grid">
                                    <a href="javascript:void(0)" class="btn btn-light" style="background-color:blue;color:#fff">
                                        <i class="mdi mdi-facebook text-primary"></i>
                                        Facebook</a>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="d-grid">
                                    <a href="javascript:void(0)" class="btn btn-light" style="background-color:green;color:#fff">
                                        <i class="mdi mdi-google text-danger"></i>
                                        Google</a>
                                </div>
                            </div> -->
                        </div>
                    </div> 
                 <!--    <div class="mx-auto">
                        <p class="mb-0 mt-3">
                            <small class="text-dark me-2">Already have an account ?</small>
                            <a routerlink="/auth-login" class="text-dark fw-bold">Sign in</a>
                        </p>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>