
 

<div class="back-to-home rounded d-none d-sm-block">
    <a routerlink="/index" class="btn btn-icon btn-soft-primary"></a>
</div>
 <p-dialog header="Verification Code" [(visible)]="display">
    <div class="container">
        <label for="vcode1">Enter 4-digit verification code</label>
        <div class="vcode mt-2" id="vcode">
            <input type="phone" class="vcode-input" maxlength="1" id="vcode1">
            <input type="phone" class="vcode-input" maxlength="1" style="margin-left: 10px">
            <input type="phone" class="vcode-input" maxlength="1" style="margin-left: 10px">
            <input type="phone" class="vcode-input" maxlength="1" style="margin-left: 10px" (blur)="showCompleteModal()">
        </div>
    </div>
</p-dialog>
<p-dialog  header="Profile Creation" [(visible)]="showSetupCompletedModal">
 
    <form>
      <div class="row" >
          <div class="col-md-12">
              <div class="mb-3">
                  <label class="form-label">Church Code
                      <span class="text-danger">*</span>
                  </label>
                
                      <input type="text" class="form-control" placeholder="Enter code"   name="code" required="">
                  
              </div>
          </div>
          <div class="col-md-12"> 
          </div>
          <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Select Relgion
                    <span class="text-danger">*</span>
                </label>
                <div class="form-icon position-relative">
                  <p-dropdown  [options]="cities" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone:true}" optionLabel="name"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-md-6"> 
        </div>
          <div class="col-md-12 mt-2 pb-4">
              <div class="d-grid">
                  <button class="btn btn-primary" (click)="signUp()" [routerLink]="'/profile'">Submit</button>
              </div>
          </div>
          <div class="col-md-12 mt-2 pb-4">
            <div class="d-grid">
                <button class="btn btn-success" style="color: #fff" (click)="signUp()" [routerLink]="'/profile'">Find A Church To Join</button>
            </div>
        </div>
      </div>
  </form>

</p-dialog>

<button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>
<section class="bg-auth-home d-table w-100">
    <div class="container">
        <br>
        <br>
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
                <div class="me-lg-5">
                    <img src="assets/images/b79.png" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">Signup</h4>
                        <form class="login-form mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">First name
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-icon position-relative">
                                            <input type="text" class="form-control ps-5" placeholder="First Name" name="s" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Last name
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-icon position-relative">
                                            <input type="text" class="form-control ps-5" placeholder="Last Name" name="s" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Phone Number
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-icon position-relative">
                                            <input type="Phone Number" name="phone" class="form-control ps-5" [(ngModel)]='userPhone' [ngModelOptions]="{standalone:true}" placeholder="Phone Number" name="Phone Number" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="form-icon position-relative">
                                            <input type="password" name="password" class="form-control ps-5" [(ngModel)]='userPassword' [ngModelOptions]="{standalone:true}" placeholder="Password" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">I Accept
                                                <a routerlink="/auth-signup" class="text-primary">Terms And Condition</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" (click)="signUp()">Register</button>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-4 text-center">
                                    <h6>Or Signup With</h6>
                                    <div class="row">
                                        <div class="col-6 mt-3">
                                            <div class="d-grid">
                                                <a href="javascript:void(0)" class="btn btn-light">
                                                    <i class="mdi mdi-facebook text-primary"></i>
                                                    Facebook</a>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <div class="d-grid">
                                                <a href="javascript:void(0)" class="btn btn-light">
                                                    <i class="mdi mdi-google text-danger"></i>
                                                    Google</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mx-auto">
                                    <p class="mb-0 mt-3">
                                        <small class="text-dark me-2">Already have an account ?</small>
                                        <a routerlink="/auth-login" class="text-dark fw-bold">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>

