

:host ::ng-deep {
	.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
		color: #e91e63;
		margin-right: 0.5rem;
	}

	.p-overlay-badge .p-badge {
		 position: relative;
		top: 0;
		right: 0;
		transform: translate(50%,-50%);
		transform-origin: 100% 0;
		margin: 0;
		margin-right: 5px;
	}

}