<div class="row w-row">
    <div class="basic-column w-col w-col-3">
        <div class="tag-wrapper">
            <div class="number-card number-card-content5">
                <h1 class="number-card-number">54</h1>
                <div class="number-card-dollars">9/3</div>
                <div class="number-card-divider"></div>
                <div class="number-card-progress-wrapper">
                    <div class="tagline number-card-currency">Ads You Posted</div>
                    <div class="number-card-progress"></div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="basic-column w-col w-col-3">
        <div class="tag-wrapper">
            <div class="number-card number-card-content1">
                <h1 class="number-card-number">867</h1>
                <div class="number-card-dollars">9/3</div>
                <div class="number-card-divider"></div>
                <div class="number-card-progress-wrapper">
                    <div class="tagline number-card-currency">Live Stream Ad Views</div>
                    <div class="number-card-progress"></div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="basic-column w-col w-col-3">
        <div class="tag-wrapper">
            <div class="number-card number-card-content2">
                <h1 class="number-card-number">34</h1>
                <div class="number-card-dollars">9/3</div>
                <div class="number-card-divider"></div>
                <div class="number-card-progress-wrapper">
                    <div class="tagline number-card-currency">Wall Ad Views</div>
                    <div class="number-card-progress"></div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="basic-column w-col w-col-3">
        <div class="tag-wrapper">
            <div class="number-card number-card-content3">
                <h1 class="number-card-number">$454</h1>
                <div class="number-card-dollars">9/3
                </div>
                <div class="number-card-divider"></div>
                <div class="number-card-progress-wrapper">
                    <div class="tagline number-card-currency">Commission Earn</div>
                    <div class="number-card-progress"></div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>

